version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'friday'
      time: '17:00'
      timezone: 'Europe/Warsaw'
    groups:
      angular:
        applies-to: version-updates
        patterns:
          - '@angular*'
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
    versioning-strategy: increase
