@import '../../../../shared/styles/base';

.ap-post-list-container {
    padding: 30px 15px;
    .ap-post-list-jumbotron {
        @extend %ap-card;
        height: 300px;
        margin-bottom: 30px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-title, &-subtitle {
            margin: 0;
        }
    }
    .ap-post-list {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-gap: 30px;
        >div {
            &:nth-child(3n) {
                grid-row: 1 / span 2;
            }
            &:nth-child(4n) {
                grid-column: 1 / 3;
            }
        }
        @media only screen and (max-width: 767px) {
            grid-template: 1fr / 1fr;
            >div {
                &:nth-child(4n) {
                    grid-column: 1;
                }
                &:nth-child(3n) {
                    grid-row: 1;
                }
            }
        }
    }
}