@import '../../../../shared/styles/base';

.ap-post-tile {
    @extend %ap-card;
    height: 100%;
    padding: 15px;
    &-title {
        font-weight: bold;
    }
    &-description {
        padding-top: 15px;
    }
}