@use 'sass:color';
@use '../../styles' as *;

.ap-search-input {
    position: relative;
    [class$="fa-icon"] {
        position: absolute;
        left: 10px;
        top: 5px;
        color: color.scale($apLightGray, $lightness: -10%);
    }
    input {
        @extend %ap-input;
        text-indent: 25px;
        &:active, &:focus {
            +[class$="fa-icon"] {
                color: $apAccentColor;
            }
        }
    }
}