@import '../../styles/base';

.ap-search-input {
    position: relative;
    [class$="fa-icon"] {
        position: absolute;
        left: 10px;
        top: 5px;
        color: darken($apLightGray, 10);
    }
    input {
        @extend %ap-input;
        text-indent: 25px;
        &:active, &:focus {
            +[class$="fa-icon"] {
                color: $apAccentColor;
            }
        }
    }
}