<div class="ap-content-container ap-topic-details-container">
    <ap-header-portal>
        <div class="ap-topic-tabs">
            <ap-tab-menu [(ngModel)]="currentTopic"
                         [tabs]="topicTabs">
            </ap-tab-menu>
        </div>
    </ap-header-portal>
    <div class="ap-topic-details">
        <ng-container *ngFor="let topic of topics; trackBy: trackByTitle">
            <ap-topic-view *ngIf="topic.title === currentTopic"
                           [topic]="topic">
            </ap-topic-view>
        </ng-container>
    </div>
</div>