<div class="author-form">
  <form [formGroup]="authorForm"
    (ngSubmit)="onSubmit()">
    <div class="author-form-group">
      <input id="{{ AUTHOR_FORM_CONTROLS.FIRSTNAME }}-input"
        [formControlName]="AUTHOR_FORM_CONTROLS.FIRSTNAME">
        <input id="{{ AUTHOR_FORM_CONTROLS.LASTNAME }}-input"
          [formControlName]="AUTHOR_FORM_CONTROLS.LASTNAME">
          @if (authorForm.errors?.existingAuthor) {
            <span i18n="@@author_form.error.author_exists"
              class="author-form-error"
              >
                Author already exists
            </span>
          }
        </div>
        <button type="submit"
          [disabled]="!authorForm.valid">
          @if (authorForm.pending) {
            <ng-container i18n="@@author_form.button.checking"
              >
                Checking...
            </ng-container>
          } @else {
            <ng-container i18n="@@author_form.button.save">
                Save
            </ng-container>
          }
        </button>
      </form>
    </div>